*.lo
*.o
.libs
5.3-datafilter
algorithms.c
app
app.c
app.c.conf
app.c.conf.in
datafilter.so
install.in-stamp.datafilter.liblua5.1-datafilter-dev
install.in-stamp.datafilter.liblua5.1-datafilter0
liblua-datafilter.la
liblua5.1-datafilter.la
lua-datafilter-*.tar.bz2
lua-datafilter-*.tar.gz
lua5.1-datafilter.pc
pkg-config.pc.in
runtests.lua
static-stamp.datafilter
