.debhelper
debhelper-build-stamp
files
lua-datafilter
lua-datafilter-dev
lua-datafilter-dev.debhelper.log
lua-datafilter-dev.install
lua-datafilter-dev.substvars
lua-datafilter.debhelper.log
lua-datafilter.install
lua-datafilter.substvars
lua_versions
tests
tmp
trash
