Source: lua-datafilter
Section: interpreters
Priority: optional
Maintainer: Geoff Richards <geoff@geoffrichards.co.uk>
Build-Depends: debhelper (>= 9), dh-lua
Standards-Version: 3.9.3
Homepage: https://geoffrichards.co.uk/lua/datafilter/
Vcs-Browser: https://github.com/GeoffRichards/lua-datafilter

Package: lua-datafilter
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: useful data-munging algorithms for Lua
 This Lua library makes it convenient to process data using various
 algorithms, and to handle arbitrarily large amounts of input and output data
 with them.
 .
 Currently the algorithms supported are: MD5 and SHA-1 message digests,
 Adler32 checksumming, Base64 encoding and decoding, quoted-printable
 encoding and decoding, encoding binary data as hexadecimal, and percent/URI
 encoding and decoding.
 .
 The latest source code and documentation is always available from the
 module's website: <https://geoffrichards.co.uk/lua/datafilter/>

Package: lua-datafilter-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: lua-datafilter (= ${binary:Version}), ${misc:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: documentation for the Lua datafilter module
 This package contains documentation for the lua-datafilter package,
 in several man pages, the main one being lua-datafilter(3).  These describe
 the complete API of the Lua module.  A more attractive version of the same
 thing is available on the module's website:
 <https://geoffrichards.co.uk/lua/datafilter/doc/>
